<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
      jdbc:mysql://bhoddvjk1na7d8a0xtlr-mysql.services.clever-cloud.com:3306/bhoddvjk1na7d8a0xtlr
    </property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.poly.datn.entity.Account"/>
    <mapping class="com.poly.datn.entity.AccountRole"/>
    <mapping class="com.poly.datn.entity.Blog"/>
    <mapping class="com.poly.datn.entity.BlogDetails"/>
    <mapping class="com.poly.datn.entity.Category"/>
    <mapping class="com.poly.datn.entity.Category_type"/>
    <mapping class="com.poly.datn.entity.Color"/>
    <mapping class="com.poly.datn.entity.Comment"/>
    <mapping class="com.poly.datn.entity.Customer"/>
    <mapping class="com.poly.datn.entity.OrderManagement"/>
    <mapping class="com.poly.datn.entity.OrderDetails"/>
    <mapping class="com.poly.datn.entity.Orders"/>
    <mapping class="com.poly.datn.entity.Product"/>
    <mapping class="com.poly.datn.entity.ProductCategory"/>
    <mapping class="com.poly.datn.entity.ProductColor"/>
    <mapping class="com.poly.datn.entity.ProductDetails"/>
    <mapping class="com.poly.datn.entity.QuantityManagerment"/>
    <mapping class="com.poly.datn.entity.Sale"/>
    <mapping class="com.poly.datn.entity.Warranty"/>
    <mapping class="com.poly.datn.entity.WarrantyInvoice"/>
    <mapping class="com.poly.datn.entity.CartDetail"/>
    <mapping class="com.poly.datn.entity.Role"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>